@{
    ViewData["Title"] = "SG - Viajes";
}

<div class="text-center">
    <h1 class="display-4">CONTROL DE VIAJES</h1> <br/> 
    <div class="card-deck justify-content-center align-self-center">
        <div class="card col-sm-3">
            <img class="card-img-top" alt="Card image cap" src="https://image.freepik.com/vector-gratis/vector-ilustracion-coche-fondo-blanco-personalizacion-facil-formato-editable-completo_71837-3.jpg" />
            <h5 class="card-title">Lista de Viajes</h5>
            <p class="card-text">Control de viajes realizados</p>
            <a asp-action="Index" asp-controller="Viajes" class="btn btn-primary">Ir</a>
        </div>

        <div class="card col-sm-3">
            <img class="card-img-top" alt="Card image cap" src="https://thumbs.dreamstime.com/b/l%C3%ADnea-de-cartas-de-las-estad%C3%ADsticas-icono-muestra-del-vector-del-esquema-pictograma-linear-del-estilo-aislado-en-blanco-94819081.jpg" />
            <h5 class="card-title">Estadisticas</h5>
            <p class="card-text">Balance segun gastos y ganancias.</p>
            <a asp-action="Index" asp-controller="" class="btn btn-primary">Ir</a>
        </div>
    </div>
</div>
