@model IEnumerable<SGVIAJES.DATA.Viaje>
@{
    ViewData["Title"] = "Estadisticas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Estadisticas</h1>


<div id="container"></div>



<div class="container">
    <div class="row">
        @if (Model.Count() > 0)
        {
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td></td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No existen registros para mostrar.</p>
        }
    </div>
</div>

@section Scripts{
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="~/js/Chart.js"></script>
}
